@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

.bg-header{
  background-image: url('./assets/mangas.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-overlay{
  background-color: rgba(0, 0, 0, 0.692);
  width: 100%;
  height: 100%;
}